/*Footer*/
.footer{
    background-color: $grey-light; 
    height:5em;


    /*Copyright*/
    .copyright{
        background-color: $grey-light; 
        height:5em;
    

        .footer p{
            padding:1em;
        }
    }
    /*Iconos*/
    .footer .iconos{
        background-color: $grey-light; 
        height:5em;
    

        .footer img{
            margin-top:1em;
        }
    }
}