/*Cabezera*/
    
/*Logo*/
.logo{
    background-color: $primary-color;
    height:5em;

    .img{
        margin-top:1em;
        margin-right:1em;
    }
}
/*Menu*/
.menu-top{
    background-color: $primary-color; 
    height:5em;


    .menu{
        margin-top:1em;
    

        /* Boton desplegable */
        .button{
            background-color: $white;
            margin-top: 0.5em;
            margin-right: 0.5em;
            position: absolute;
            right: 0;
        }

        #navbarNav{ /* z-index: ; Mueve el objeto hacia primer plano si es positivo o hacia atras si es negativo */
        background-color: $primary-color;
        z-index: 100;
        position: absolute;
        right: 0;
        top: 0;
        border: 1.5px solid $white;
        border-radius: 1em;
    

            .nav-item{
                text-align: center;
            }

            .a{ /*#navbarNav - es una ID*/
                color: $white;
                padding: 0.5em;
            }
        }

        @include respond-to("md"){

            .menu #navbarNav {
                top: 2.5em;
            }
        
        }
        
        @include respond-to("sm"){
        
            .menu #navbarNav {
                top: 2.5em;
            }
        
        }
        
        @include respond-to("xs"){
        
            .menu #navbarNav {
                top: 2.5em;
            }
        
        }
    }
}