/*====================
======Typography======
======================*/

h1, h2, h3, h4, h5, h6 {
    font-family: $font-stack;
    color: $grey;
}

h1 {
    color: $secondary-color;
    font-weight: 400;
    font-family: $font-stack;
    font-size: 3.5em;
    margin-bottom: 0.7em;
    text-decoration: none;
    text-align: left;
    text-shadow: 1px 2px 3px #ccc;
}

a {
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
    color: $secondary-color;
    font-weight: 600;

    &:hover, &:focus {
        color: $secondary-color-dark;
        outline: none;
        text-decoration: none;
        outline-offset: 0;
    }
}
