/*Index*/

            /*Estilos*/

/*Cabezera*/
    
    /*Logo*/
.logo{
    background-color:rgb(222, 0, 0);
    height:5em;
}

.logo img{
    margin-top:1em;
    margin-right:1em;
}

    /*Menu*/
.menu-top{
    background-color:rgb(222, 0, 0); 
    height:5em;
}

.menu{
    margin-top:1em;
}

/* Boton desplegable */
.menu button{
    background-color:rgb(255, 255, 255);
    margin-top: 0.5em;
    margin-right: 0.5em;
    position: absolute;
    right: 0;
}

.menu #navbarNav{ /* z-index: ; Mueve el objeto hacia primer plano si es positivo o hacia atras si es negativo */
    background-color: rgb(222, 0, 0);
    z-index: 100;
    position: absolute;
    right: 0;
    top: 0;
    border: 1.5px solid rgb(255, 255, 255);
    border-radius: 1em;
}

.menu .nav-item{
    text-align: center;
}

#navbarNav a{ /*#navbarNav - es una ID*/
    color: rgb(255, 255, 255);
    padding: 0.5em;
}

/*Slider*/
.slider{
    margin-top:1em;
    border-top: 1px solid rgb(229, 229, 229);
}

    /*Imagen-Slider*/
.slider img{
    background-color:rgb(255, 255, 255);
    width:100%;
}

    /*Texto-Slider*/
.slider h3{
    text-align: center;
}

.slider h4{
    background-color:rgb(255, 255, 255); 
    margin-top:1em;
    text-align: center;
}
    /*More Information*/
.slider button{
    margin-top:1em;
    margin-bottom:1em;
    margin-left:1em;
}

    /*Buscador*/
.searcher{
    background-color:rgb(220, 220, 220);
    height:7em;
}

.searcher .box{
    height:2.5em;
}

.searcher input{
    margin-top:1em;
    margin-left:1em;
    width: 25em;
}

.searcher button{
    margin-top:0.5em
}

/*Destacados*/
     /*Articulos*/
.articulos h2{
    padding: 0.5em;
    text-align:center;
    background-color:rgb(222, 0, 0); 
    color:rgb(255, 255, 255);
}

.articulo img{
    width: 100%;
}

.text{
    border: 2px solid rgb(222, 0, 0);
    border-radius:0.5em;
    padding: 1em;
}

.articulo h4 {
    text-align: center;
}

.articulo p {
    text-align: justify;
    border-top: 1px solid rgb(169, 169, 169);
}

.articulo .button-box{
    margin-bottom: 1em;
}

.articulo button{
    margin-top:1em;
    margin-bottom:1em;
    margin-left:1em; 
}


/*Footer*/
.footer{
    background-color:rgb(220, 220, 220); 
    height:5em;
}

    /*Copyright*/
.copyright{
    background-color:rgb(220, 220, 220); 
    height:5em;
}

.footer p{
    padding:1em;
}

    /*Iconos*/
.footer .iconos{
    background-color:rgb(220, 220, 220); 
    height:5em;
}

.footer img{
    margin-top:1em;
}

/* ------------------------------------------------------------- */

/*Form*/
.is-invalid{
    color: red;
    font:bold;
    font-size: 1em;
}

.errors{
    color: red;
    font:bold;
}

/*list en List-user/blog/slider */

/* .delete{
    background-color: tomato;
    font: bold;
    border-radius: 0.5em 0.5px; 
}

.editar{
    background-color:lightgreen;
    font:bold;
    border-radius: 0.5em 0.5px;
} */

/*-------------------------------------------------------------------*/
/* Seccion blogs */
.blogs{
    border: 0.5px solid rgb(222, 0, 0);
    border-radius:0.5em;
    padding: 1em;
    margin: 0.25em;
}

.blogs .title{
    color: rgb(0, 0, 0);
    font:bold;
    font-size: 1em;
}

.blogs .date{
    color: rgb(220, 220, 220);
    font-size: 0.75em;
}

.blogs .category{
    color: rgb(220, 220, 220);
    font-size: 0.75em;
}

/* Blogs con lista */

.blogs-list {
    display:none;
    margin-bottom: 1em;
}

.blogs-list select {
    border-radius:0.5em;
    border-color: rgb(222, 0, 0);
    width: 100%;
}

.blogs-list .verMas {
    border-bottom: 0.5px solid rgb(220, 220, 220);
    
}

/* Blog Individual */

.blog{
    border: 0.5px solid rgb(222, 0, 0);
    border-radius:0.5em;
    padding: 1em;
    margin: 0.25em;
}

.blog .title{
    color: rgb(0, 0, 0);
    font:bold;
    font-size: 2em;
}

.blog .date{
    color: rgb(220, 220, 220);
    font-size: 1em;
}

.blog .category{
    color: rgb(220, 220, 220);
    font-size: 0.75em;
}

.blog .cuerpo{
    color: rgb(169, 169, 169);
    font-size: 1em;
}

/* Galeria */

.sliders-container .sliders{

    /* height: 5em; */

}


.sliders-container .sliders .imagenUrl{

    width: 100%;

}
            

/* ------------------------------------------------------------- */

/*Responsive*/


@media (min-width:992px) and (max-width:1400px){

    .articulo h4 {
        font-size: 2em;
    }

    .articulo p{
        font-size: 2em;
    }

    .articulo button{
        font-size: 2em;
    }
}

@media (min-width:768px) and (max-width:991px){
    
    .menu #navbarNav {
        top: 2.5em;
    }

    .articulo h4 {
        font-size: 2em;
    }

    .articulo p{
        font-size: 2em;
    }

    .articulo button{
        font-size: 2em;
    }
   
}


@media (max-width:767px){
    
    .menu #navbarNav {
        top: 2.5em;
    }
}


@media (max-width:479px){
    
    .menu #navbarNav {
        top: 2.5em;
    }

    .blogs {
        display: none;
    }
    .blogs-list {
        display: block;
    }

    
    
}


