//typography
$font-stack: 'Hind Guntur', sans-serif;

//colors
$primary-color: rgb(222, 0, 0);
$primary-color-light: rgb(255, 84, 50);
$primary-color-dark: rgb(163, 0, 0);
$secondary-color: rgb(255, 205, 0);
$secondary-color-light: rgb(255, 255, 81);
$secondary-color-dark: rgb(199, 157, 0);
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$grey: rgb(170, 170, 170);
$grey-light: rgb(220, 220, 220);

//style
$text-border: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;