/*Articulos*/

.articulos{

    h2{
        padding: 0.5em;
        text-align:center;
        background-color: $primary-color; 
        color: $white;
    }

    .articulo{

        .text{
            border: 2px solid $primary-color;
            border-radius:0.5em;
            padding: 1em;
        }

        img{
            width: 100%;
        }

        h4 {
            text-align: center;
        }

        p {
            text-align: justify;
            border-top: 1px solid $grey;
        }

        button{
            margin-top:1em;
            margin-bottom:2em;
            margin-left:1em; 
        }

        @include respond-to("md"){
            .h4 {
                font-size: 2em;
            }
            
            .p{
                font-size: 2em;
            }
            
            .button{
                font-size: 2em;
            }
        }

        @include respond-to("lg"){
            .h4 {
                font-size: 2em;
            }
            
            .p{
                font-size: 2em;
            }
            
            .button{
                font-size: 2em;
            }
        }
    }
}
