    /*Buscador*/
    .searcher{
        background-color: $grey-light;
        height:7em;
    

        .box{
            height:2.5em;
        

            .input{
                margin-top:1em;
                margin-left:1em;
                width: 25em;
            }

            .button{
                margin-top:0.5em
            }

            @include respond-to("xs"){
                .input{
                    width: 15em;
                }
            }

            @include respond-to("sm"){
                .input{
                    width: 20em;
                }
            }
        }
    }