/*Slider*/
.slider{
    margin-top:1em;
    border-top: 1px solid $grey-light;

    img{
        background-color: $white;
        width:100%;
    }

    h3{
        text-align: center;
    }

    h4{
        background-color: $white; 
        margin-top:1em;
        text-align: center;
    }

    button{
        margin-top:1em;
        margin-bottom:1em;
        margin-left:1em;
    }
}
